<mat-toolbar color="primary" class="app-header">
  <span class="app-title">Pointing Poker</span>
  <span class="name">{{ name }}</span>
  <span class="spacer"></span>
  <button mat-icon-button
          [cdkCopyToClipboard]="currentUrl"
          (click)="copiedToClipboard()"
          matTooltip="Copy Session Link"
          matTooltipPosition="below">
    <mat-icon>content_copy</mat-icon>
  </button>
  <button mat-icon-button
          (click)="changeName()"
          matTooltip="Change settings"
          matTooltipPosition="below">
    <mat-icon>settings</mat-icon>
  </button>
</mat-toolbar>
<div class="outlet-container">
  <router-outlet></router-outlet>
</div>
