<header title="Pointing Poker" theme="dark" [condensed]="true">
  <utils>
    <span class="name">{{ name }}</span>
    <header-spacer></header-spacer>
    <util-action icon="clipboard" tooltip="Copy Session Link" [tooltipAutoPosition]="true" [removeTooltipArrow]="true"></util-action>
    <util-action icon="tools" tooltip="Change settings" [tooltipAutoPosition]="true" [removeTooltipArrow]="true"></util-action>
  </utils>
  <div class="entity-header" novo-title></div>
</header>
<div>
  <router-outlet></router-outlet>
</div>