/* You can add global styles to this file, and also import other style files */
@import "./node_modules/novo-elements/novo-elements";

body {
  background-color: #F4F4F4;
  color: #FFF;
  .novo-card, .novo-card>main {
    background-color: #3D464D;
  }
  .tile-container {
    flex-flow: row wrap;
    .active-indicator {
      height: calc(39px + 0.32em)
    }
  }
  app-poker-session {
    .top-card {
      div.novo-form-container input{
        color: #F4F4F4 !important;
      }
    }
  }
}
